.faleconosco-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  height: fit-content;
  margin-bottom: 8px;
}

.faleconosco-container-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.faleconosco-container-left form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 50%;
}

.faleconosco-container-right {
  width: 50%;
}

.faleconosco-container-bottom {
  width: 100%;
}
