.banner-compra {
  background-color: #DB995D;
  width: 100vw;
  padding: 8px 32px;
  margin: 0px 0px;
}

.banner-compra * {
  background-color: default;
}

.banner-mensagem-primeira-compra {
  color: #FFFFFF;
  font-weight: 700;
  margin-right: 32px;
}

.banner-mensagem-desconto {
  color: #000000;
  margin-right: 32px;
}

.banner-botao-compra {
  background-color: #FFFFFF;
  border: solid 0px #C3C3C3;
  border-radius: 8px;
  padding: 2px 16px;
  cursor: pointer;
  /*box-shadow: #00000080 0px 2px 8px 2px;*/
}
